
/* header  */
.nav-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-part a{
    text-decoration: none;
    margin-right: 34px;
    font-size: 16px;
    color: #3A3A3A;
}
.page-name{
    width: 243px;
    height: 52px;
    color: #3A3A3A;
    font-size: 24px;
}

/* main part  */

.top-part{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.info-title{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
}
.info-description{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.primary{
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    color: #FFFFFF;
    font-weight: 700;
}
.logos{
    display: flex;
    gap: 60px;
   justify-content: center;
   margin-top: 150px;
   margin-bottom: 150px;
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 100px;

    
}
.popular-title{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.item h3{
    color:  #18191F;
    font-size: 28px;
    font-weight: 500;

}
.price{
    color:  rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;

}
.fa-star.den{
    color: darkgoldenrod;
}
.star{
    display: flex;
    align-items: center;
    gap: 10px;
   
}
.star p{
    color:  #5E6366;

font-size: 14px;

font-weight: 700;
}
.item-dec{
    color:  #787885;
    font-size: 14px;
    font-weight: 700;

}
.popular-item{
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    margin-right: 20px;
    width: 80%;
    
}

.more{
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
  margin-bottom: 100px;
  

}
.bottom-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.bottom-part img{
    margin-left: 100px;
}

.footer{
    background: #18191F;
}
.footer footer{
    color: #FFF;
    text-align: center;
}

@media screen  and (max-width:668px) {
    .top-part{
     display: flex;
     flex-direction: column-reverse;
       
        
    }
    .logos{
        flex-flow: row wrap;

       
    }
    .items , .bottom-part{
       display: flex;
       flex-direction: column;
       
    }
    .item-img , .top-img{
        width: 100%;
    }
    .bottom-part img{
        width: 70%;
        
    }
    .bottom-dec{
        width: 200px;
        margin-left: 50px;
    }
    
}